
.headerR {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 12vh;
    width: 22vw;
    /* padding-left: 7.5vw; */
    padding-top: 6vh;
    margin-right: 1vw;
    /* background-color: bisque; */
}

/* .header__nightMode switch{
    height: 5rem;
} */