
.header {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 12vh;
    width: 50vw;
    padding-top: 3vh;
    align-items: center;
    margin: auto;
}

.header__socials {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2vh;
    padding-left: 2vw;
    gap: 0.5vw;
}

.header__socials a {
    font-size: 4vw;
}

.egonisnoise {
    width: 3.65vw;
    padding-bottom: .8vh;
}

.header__connection {
    padding-left: 3vw;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    padding-right: 2vw;
    gap: 0.5vw;
}

.dark__mode{
    display: flex;
    flex-direction: row;
    align-items:center;
}

.header__connection button {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.4rem;
    padding: 1vw;
    border: 3px solid var(--text-color);
    color: var(--text-color);
    background-color: transparent;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 1020px) {

    .header {
        width: 100vw;
        padding: 1vh;
    }

    .header__socials {
        padding-top: 2vh;
        font-size: 130vw;
    }

    .header__socials a {
        font-size: 15vw;
    }

    .egonisnoise {
        display: none;
    }

    .dark__mode {
        display: none;
    }

    .header__connection {
        padding-left: 2vw;
    }

    .header__connection button {
        font-size: 5vw;
        padding: 1.2vw;
    }
  }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 500px) {

    .header__connection button {
        font-size: 5vw;
        padding: 2vw;
    }

}
