.team__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 50vw;
    gap: 4vh;
}

.member_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 17vw;
    height: 15vh;
    font-family: 'Rune', sans-serif;
    font-size: 1.3vw;
    /* background-color: aquamarine; */
}

.member_container h1:hover{
    cursor: pointer;
    font-family: 'Merriweather', sans-serif;
    font-size: 1.3vw;
}

.member_container p {
    font-family: 'Merriweather', sans-serif;
    font-size: 1vw;
}

.member_container img {
    height: 100%;
    border: 5px solid var(--text-color);
    border-radius: 100px;
}

.description_socials {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    /* position: relative; */
    margin: 1vw;
}

.links_socials {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 0.2vw;
    position: relative;
}

.links_socials a {
    font-size: 5vh;
}


@media only screen and (max-width: 1020px) {
    .team__container {
        width: 100vw;
        padding-bottom: 10vh;
        padding-left: 25%;
        flex-direction: column;
    }

    .member_container {
        width: 60vw;
        height: 18vh;
        margin-right: 22vw;
    }

    .description_socials {
        margin-left: 5vw;
    }

    .links_socials a {
        font-size: 5vh;
    }

}

@media only screen and (max-width: 500px) {

    .member_container {
        width: 40vw;
        margin-left: -50vw;
        flex-direction: column;
    }

    .description_socials {
        margin-left: 5vw;
    }

    .links_socials a {
        font-size: 5vh;
    }
}

@media only screen and (max-width: 300px) {

    .team__container {
        height: 55vh;
        padding-bottom: 20vh;
        flex-direction: column;
    }

    .member_container {
        flex-direction: column;
        width: 30vw;
        height: 30vh;
        margin-left: -40vw;
    }

    .description_socials {
        margin-left: 5vw;
    }

    .links_socials a {
        font-size: 5vh;
    }
}
