.mint__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7vh;
    height: 86vh;
    width: 22vw;
    margin-right: 1vw;
    /* background-color: aqua; */
}

.sick_gif {
    width: 20vw;
    padding-top: 6vh;
}

.sick_gif img {
    width: 100%;
    border: 5px solid  black;
    border-radius: 10px;
}

.full_minting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    padding-bottom: 2vh;
    /* background-color: aqua; */
}

.mint_icons {
    padding: 5vh;
    font-size: 2.5vw;
}

.minting_button {
    width: 11vw;
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    padding: .8vw;
    /* margin-top: 1.5rem; */
    border: 3px solid  black;
    background-color: rgb(238, 239, 230);
    border-radius: 10px;
}

.more_less {
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.mint_number {
    margin: 1vw;
}

.more_less button {
    width: 3vw;
    font-size: 1.5rem;
    padding: .5vw;
    border: 3px solid  black;
    background-color: rgb(238, 239, 230);
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

.more_icon {
    padding: 1vw;
}