.mint__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    height: 86vh;
    width: 22vw;
    margin-right: 1vw;
    /* background-color: aqua; */
}

.sick_gif {
    width: 20vw;
    padding-top: 2vh;
}

.sick_gif img {
    width: 100%;
    border: 5px solid var(--text-color);
    border-radius: 10px;
}

.full_minting {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 26vh;
    margin-top: 5vh;
    padding-bottom: 2vh;
    background-image: url("../../assets/nnneon5.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* background-color: aqua; */
}

.mint_icons {
    padding: 6vh;
    font-size: 2vw;
}

.minting_button {
    width: 11vw;
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    font-size: 2vh;
    padding: 1vw;
    border: 3px solid var(--text-color);
    color: var(--text-color);
    background-color: var(--general-background);
    border-radius: 10px;
    margin-bottom: 1vh;
}

.more_less {
    font-size: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
    padding-bottom: 2.4vh;
}

.mint_number {
    margin: 1vw;
}

.more_less button {
    width: 3vw;
    font-size: 3vh;
    padding: .5vw;
    border: 3px solid var(--text-color);
    color: var(--text-color);
    background-color: var(--general-background);
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

.more_icon {
    padding: 1vw;
}