.mint__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    width: 50vw;
    margin-right: 1vw;
}

.pre_mint h1 {
    font-size: 3vw;
    font-family: 'Rune', sans-serif;
}

.pre_mint h1:hover{
    cursor: pointer;
    font-family: 'Merriweather', sans-serif;
    font-size: 2vw;
}

.mint_details{
    font-size: 1.2vw;
}

.sick_gif {
    width: 20vw;
    padding-top: 12vh;
    padding-bottom: 3vh;
}

.sick_gif img {
    width: 100%;
    border: 5px solid var(--text-color);
    border-radius: 10px;
}

.full_minting {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 15vw;
    margin-top: 10vh;
    padding-bottom: 5vh;
    font-size: 3.5vh;
}

.minting_button {
    width: 11vw;
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    font-size: 2vh;
    padding: 1vw;
    border: 3px solid var(--text-color);
    color: var(--text-color);
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 1vh;
}

.more_less {
    font-size: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2.4vh;
}

.mint_number {
    margin: 1vw;
}

.more_less button {
    width: 3vw;
    font-size: 3vh;
    padding: .5vw;
    border: 3px solid var(--text-color);
    color: var(--text-color);
    background-color: transparent;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

.more_icon {
    padding: 1vw;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 1020px) {
    .mint__container {
        width: 100vw;
        flex-direction: column;
        
    }
    .sick_gif {
        width: 70vw;
        padding-top: 7vh;
        padding-bottom: 2vh;
    }

    .more_less a {
        font-size: 5vh;
    }

    .more_less button {
        width: 10vw;
        padding: 1vw;
        margin: 3vw;
    }

    .minting_button {
        width: 25vw;
        font-size: 4vh;
    }
  }

  @media only screen and (max-width: 300px) {
    .full_minting {
        padding-left: 5vw;
        padding-right: 5vw;
    }

}