.description_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5vh;
    width: 50vw;
    padding: 5vw;
    padding-top: 12vh;
    padding-bottom: 8vh;
    /* background-color: aquamarine; */
}

.description_container >* {
    font-size: 2vh;
    color: var(--text-color);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Rune', sans-serif;
    font-size: 2.5vw;
    width: 40vw;
    height: 15vh;
}

.title h1:hover{
    cursor: pointer;
    font-family: 'Merriweather', sans-serif;
    font-size: 2.3vw;
}

.roadmap {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    padding-top: 15vh;
}

.white_paper {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

.emoji a {
    font-size: 10vh;
}

.emoji {
    height: 14vh;
    /* background-color: aliceblue; */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 1020px) {

    .description_container {
        width: 100vw;
        padding-top: 5vh;
    }

    .why {
        font-size: 4vw;
    }

    .roadmap {
        font-size: 4vw;
    }

    .roadmap > a {
        font-size: 5vh;
    }
  }

  @media only screen and (max-width: 300px) {
    .description_container {
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 30vh;
    }

    .description_container >* {
        font-size: 3vh;
    }

}