
.header {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 12vh;
    width: 90vw;
    padding-top: 3vh;
    margin-top: 2vh;
    padding-bottom: 3vh;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background: var(--glass-background);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
}

.header__socials {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2vh;
    padding-left: 2vw;
    gap: 0.5vw;
}

.header__socials a {
    font-size: 3vw;
}

.egonisnoise {
    width: 2.8vw;
    padding-bottom: .55vh;
}

.header__connection {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    padding-right: 2vw;
    gap: 0.5vw;
}

.dark__mode{
    display: flex;
    flex-direction: row;
    align-items:center;
}

.header__connection button {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.4rem;
    padding: .8vw;
    border: 3px solid var(--text-color);
    color: var(--text-color);
    background-color: transparent;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}


/* SMARTPHONES (portrait) ----------- */
@media only screen and (max-width: 420px) {

    .header {
        /* width: 0vw; */
        padding: 1vh;
    }

    .header__socials {
        padding-top: 2vh;
        font-size: 130vw;
    }

    .header__socials a {
        font-size: 15vw;
    }

    .egonisnoise {
        display: none;
    }

    .dark__mode {
        display: none;
    }

    .header__connection {
        padding-left: 2vw;
    }

    .header__connection button {
        font-size: 5vw;
        padding: 1.5vw;
    }
  }

/* Smartphones (portrait) ----------- */
/* @media only screen and (max-width: 500px) {

    .header__connection button {
        font-size: 5vw;
        padding: 2vw;
    }

} */
