
.footer {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 12vh;
    width: 90vw;
    padding-top: 5vh;
    padding-bottom: 3vh;
    margin-bottom: 3vh;
    align-items: center;
    margin: auto;
    background: var(--glass-background);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
}

.footer__socials {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 2vw;
    gap: 0.5vw;
}

.footer__socials a {
    font-size: 3vw;
}

.etherscan {
    width: 4vw;
}

svg {
    fill: var(--text-color);
}

/* SMARTPHONES (portrait) ----------- */
@media only screen and (max-width: 420px) {
/* 
    .footer { 
        padding-top: 5vh;
        padding-bottom: 5vh;
    } */

    .footer__socials a {
        font-size: 15vw;
    }

    .etherscan {
        display: none;
    }
  }

