
.footer {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 12vh;
    width: 50vw;
    padding-top: 15vh;
    padding-bottom: 10vh;
    align-items: center;
    margin: auto;
}

.footer__socials {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 2vw;
    gap: 0.5vw;
}

.footer__socials a {
    font-size: 4.5vw;
}

.etherscan {
    width: 6vw;
}

svg {
    fill: var(--text-color);
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 1024px) {

    .footer {
        width: 100vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .footer__socials a {
        font-size: 15vw;
    }

    .etherscan {
        display: none;
    }

  }